<div class='nav'>
  <%= link_to 'Home', home_path, class: 'nav-item' %>
  <%= link_to 'Projects', projects_path, class: 'nav-item' %>
  <%= link_to 'About', about_path, class: 'nav-item' %>
  <%= link_to 'Contact Me', contact_path, class: 'nav-item' %>
</div>
<div class='profile'>
  <div class='profile-pic-icons'>
      <%= image_tag 'ruby.png', class: 'ico-lg' %>
      <%= image_tag 'rails.png', class: 'ico-lg' %>
      <%= image_tag 'postgres.png', class: 'ico-lg' %>
    <figure>
      <%= image_tag 'Profilepic.png', id: 'profile-pic' %>
      <figcaption>Jordan Whistler</figcaption>
    </figure>
      <%= image_tag 'node.png', class: 'ico-lg' %>
      <%= image_tag 'git.png', class: 'ico-lg' %>
      <%= image_tag 'trio.png', class: 'ico-lg trio' %>
  </div>
</div>
<div class='column-container'>
  <div class='col-item'>
    Random stuff goes here
  </div>
</div>
