<div class='nav'>
  <div class='nav-item'><%= image_tag 'leftwing.png', id: 'ico' %><%= link_to 'Home', home_path %><%= image_tag 'rightwing.png', id: 'ico' %></div>
  <div class='nav-item'><%= image_tag 'leftwing.png', id: 'ico' %><%= link_to 'Projects', projects_path %><%= image_tag 'rightwing.png', id: 'ico' %></div>
  <div class='nav-item'><%= image_tag 'leftwing.png', id: 'ico' %><%= link_to 'About', about_path %><%= image_tag 'rightwing.png', id: 'ico' %></div>
  <div class='nav-item'><%= image_tag 'leftwing.png', id: 'ico' %><%= link_to 'Contact Me', contact_path %><%= image_tag 'rightwing.png', id: 'ico' %></div>
</div>
<div class='profile'>
  <h1>Jordan Whistler</h1>
  <p><%= image_tag 'Profilepic.png', id: 'profile-pic' %></p>
  <p>This is a bunch of info that will talk about how awesome I am</p>
</div>
<div class='column-container'>
  <div class='left-column'>
    <div class='col-item'>
      <h3>Edumacation Section</h3>
      <p>Quam quis cupidatat. Modi dolores natus yet eos so numquam beatae and lorem. Quam. Ut minima so et commodo. Eu commodo exercitation dolore totam. Exercitation fugiat for cillum, et. Amet. Et labore, quisquam. Iure illo and proident. Accusantium. Perspiciatis est aute but culpa and in for sint. Sint aliqua but accusantium. Commodo. Accusantium anim velitesse labore but consectetur sed, for eius. Et. Vel. Do ipsum. Consequatur architecto.
      </p>
    </div>    
    <div class='col-item'>
      <h3>Project B Highlight</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
    <div class='col-item'>
      <h3>Github Repo Link</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
    <div class='col-item'>
      <h3>RubyGem</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
  </div>
  <div class='right-column'>
    <div class='col-item'>
      <h3>Project A Highlight</h3>
      <p>Quam quis cupidatat. Modi dolores natus yet eos so numquam beatae and lorem. Quam. Ut minima so et commodo. Eu commodo exercitation dolore totam. Exercitation fugiat for cillum, et. Amet. Et labore, quisquam. Iure illo and proident. Accusantium. Perspiciatis est aute but culpa and in for sint. Sint aliqua but accusantium. Commodo. Accusantium anim velitesse labore but consectetur sed, for eius. Et. Vel. Do ipsum. Consequatur architecto.
      </p>
    </div>
    <div class='col-item'>
      <h3>B</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
    <div class='col-item'>
      <h3>C</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
    <div class='col-item'>
      <h3>D</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
    <div class='col-item'>
      <h3>E</h3>
      <p>Error sunt aliquam and proident or est veniam quaerat. Nostrud veritatis for aut officia rem for ipsa. Nesciunt quam qui pariatur or amet anim. Si illo. Id corporis est. Laboris omnis. Magni quasi ullamco. Vitae nulla incididunt yet cillum nequeporro yet officia vel. Magni consectetur but vel et. Ipsam. Eu beatae mollit. Incidunt fugit and eu iste. Explicabo elit. Perspiciatis minim aperiam occaecat. Fugiat tempora velit, et fugit for deserunt. Dolor aspernatur. Perspiciatis suscipit. Ab reprehenderit so magni or ex yet ea, corporis and suscipit. Iure est modi tempora laborum.
      </p>
    </div>
  </div>
</div>
