<div class='nav'>
  <div class='nav-item'><%= link_to 'Home', home_path %></div>
  <div class='nav-item'><%= link_to 'Projects', projects_path %></div>
  <div class='nav-item'><%= link_to 'About', about_path %></div>
  <div class='nav-item'><%= link_to 'Contact Me', contact_path %></div>
</div>
<div class='profile'>
  <div class='profile-pic-icons'>
      <%= image_tag 'ruby.png', class: 'ico-lg' %>
      <%= image_tag 'rails.png', class: 'ico-lg' %>
      <%= image_tag 'postgres.png', class: 'ico-lg' %>
    <figure>
      <%= image_tag 'Profilepic.png', id: 'profile-pic' %>
      <figcaption>Jordan Whistler</figcaption>
    </figure>
      <%= image_tag 'node.png', class: 'ico-lg' %>
      <%= image_tag 'git.png', class: 'ico-lg' %>
      <%= image_tag 'trio.png', class: 'ico-lg trio' %>
  </div>
</div>
<div class='contact-container'>
      <div>
        <a href='mailto:whistler.5@osu.edu?subject=Mail From JordanWhistler.Info'>
          <%= image_tag 'envelope.png', class: 'ico' %>Email Me</a>
      </div>
      <div>
        <a href='tel:252-671-3879'>
        <%= image_tag 'phone.png', class: 'ico' %>Call Me</a>
      </div>
</div>
