<div class='nav'>
  <div class='nav-item'><%= image_tag 'leftwing.png', class: 'ico' %><%= link_to 'Home', home_path %><%= image_tag 'rightwing.png', class: 'ico' %></div>
  <div class='nav-item'><%= image_tag 'leftwing.png', class: 'ico' %><%= link_to 'Projects', projects_path %><%= image_tag 'rightwing.png', class: 'ico' %></div>
  <div class='nav-item'><%= image_tag 'leftwing.png', class: 'ico' %><%= link_to 'About', about_path %><%= image_tag 'rightwing.png', class: 'ico' %></div>
  <div class='nav-item'><%= image_tag 'leftwing.png', class: 'ico' %><%= link_to 'Contact Me', contact_path %><%= image_tag 'rightwing.png', class: 'ico' %></div>
</div>
<div class='profile'>
  <div class='profile-pic-icons'>
      <%= image_tag 'ruby.png', class: 'ico-lg' %>
      <%= image_tag 'rails.png', class: 'ico-lg' %>
      <%= image_tag 'postgres.png', class: 'ico-lg' %>
      <%= image_tag 'Profilepic.png', id: 'profile-pic' %>
      <%= image_tag 'node.png', class: 'ico-lg' %>
      <%= image_tag 'git.png', class: 'ico-lg' %>
      <%= image_tag 'trio.png', class: 'ico-lg trio' %>
  </div>
  <p>This is a bunch of info that will talk about how awesome I am.</p>
  <p>"Probably some really smart and insightful quote by somebody most people have never heard of to make me seem well read."  - Sun Tzu's cousin</p>
</div>
<div class='column-container'>
  <div class='col-item'>
    Contact form goes here
  </div>
</div>
